*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}
 
.nós {
    width: 80px;
}

.nav {
    background-color: #009b3a;
    height: 40px;
    text-align: center;
    color: #fff;
    box-sizing: content-box;
}

.container-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container-logo b{
    font-family: block;
}

.rodape-direitos p{
    font-family: block;
}



.container-logo img {
    width: 80px;
    height: 83px;
}

.logo {
    display: flex;
    justify-content: space-evenly;

}

.logo img {
    width: 208px;

}

.nav-menu {
    box-sizing: border-box;
    display: flex;
    margin-left: 0%;
    margin-bottom: -0.1%;
    border-style: groove;
    border-color: #c2eeff;
    background-color: #c2eeff;
}

.nav-menu a {
    box-sizing: border-box;
    font-family: "Concert One", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-transform: capitalize;
    padding: 12px 100px;
    font-weight: 40;
    transition: all .42s ease;
    text-decoration: none;
}

.nav-menu a :hover{
    color: rgb(173, 173, 173);
}

.macaco-img {
    display: flex;

}

/*sobre*/
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Espaçamento ao redor do vídeo */
    padding: 10px; /* Padding interno */
}

.custom-video {
    border-radius: 10px; 
    max-width: 100%; 
    height: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
}

.custom-video:hover {
    box-shadow: 0 4px 15px #009b3a; /* Sombra para dar profundidade */
}

.image-left, .image-right
{
	margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

.image-left p, b {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 100%;
}
.image-right p, b {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 100%;
}

@media (min-width: 20em)
{
	.image-left, .image-right
	{
		display: flex;
		align-items: center;
	}

	.image-left img
	{
		margin-right: 1em;
		float: left; /* fallback */
	}

	.image-right img
	{
		order: 1;
		margin-left: 1em;
		float: right; /* fallback */
	}
	
	/* clearfix for fallback */
	.image-left::after,
	.image-right::after
	{
		content: "";
  	display: block;
		clear: both;
	}
}

@media (min-width: 30em)
{
	.image-left img, .image-right img
	{
		flex-shrink: 0;
	}
}

/*rodapé*/

.rodape {
    background-color: #c2eeff;
    color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
}

.rodape a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.rodape p {
    margin-bottom: 5px;
}

.rodape-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}

.social-icon i :hover{
    transform: scale(1.3);
}

.rodape-div-1,
.rodape-div-2,
.rodape-div-3,
.rodape-div-4 {
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
} 

.rodape-div-1 img{
    width: 250px ;
}

.rodape span {
    font-size: 30px;
    color: rgb(2, 0, 112);
}

.rodape-direitos {
    width: calc(100% - 20px);
    background-color: rgb(0, 8, 83);
    padding: 10px;
    margin: 0px;
    text-align: center;
    color: #fff;
}

.rodape-div-2-coluna,
.rodape-div-3-coluna,
.rodape-div-4-coluna{
    margin-top: 15%;
}

.social-icon :hover{
    color: #06bb00;
}

/*mobile*/
@media (max-width: 768px) {

    .rodape-div-1,
    .rodape-div-2,
    .rodape-div-3,
    .rodape-div-4 {
        width: calc(50% - 20px);
        padding: 10px;
    }

    .rodape-div {
        padding: 60px 0px 40px 0px;
    }
}

